<h2> Random Restaurant </h2>
<div class="flex-grid">
  
    <div class = "col">
        Name: {{resturants.name}} </br>
        Cuisine: {{resturants.cuisine}} </br>
        Borough: {{resturants.borough}} </br>
        Price: {{resturants.price}} 
        <div class = "pic"> <img src = "{{resturants.picture}}" height= "200px" width= "200px">   </div>
       
        <ul> 
        Reviews: 
        {{#each resturants.reviews}} 
          <li>{{verdict}}</li> 
        {{/each}}
        </ul>

    </div>
   
</div>
{{error}}
<script>
    // run client side javascript to check form fields
</script>